body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, figure {
  margin: 0;
  padding: 0;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 17px;
	line-height: 1.5;

	background-color: #f4f4f4;
	background-color: #e9ffe8;
	color: #222;
}

h1, h2, h3 {
	margin-bottom: 8px;
}
a {
	color: #39af58;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}

#site-header {
	height: 80px;
	line-height: 80px;
	margin-bottom: 32px;
	background: #55ce2d;
}

#site-header a {
	text-decoration: none;
	color: #FFF;
	font-size: 26px;
	margin-left: 40px;
}

#site-content {
	max-width: 600px;
	padding: 0 20px;
	margin: 0 auto;
}

#site-footer {
	height: 100px;
}


.recipe-header {
	text-align: center;
}

.recipe-ingredients,
.recipe-directions {
	margin: 30px 0;
}
.recipe-ingredients ul,
.recipe-ingredients li {
	list-style-type: none;
	padding: 0;
}
.recipe-ingredients li li {
	padding: 2px 0 2px 16px;
	border-top: 1px solid #ddd;
}
.recipe-ingredients strong {
	display: block;
	margin-top: 16px;
}
.recipe-directions li {
	padding-bottom: 16px;
}
