---
layout: default
---
<article class="recipe">
  <header class="recipe-header">
    <h2>{{ page.title | escape }}</h2>
    <div>{{ page.time | escape }}</div>
  </header>

  {%- if page.notice -%}
    <div class="recipe-notice">
      <h3>Huom, huom!</h3>
      <p>{{ page.notice | markdownify }}</p>
    </div>
  {% endif %}

  <div class="recipe-ingredients">
    <h3>Ainekset</h3>
    <div class="recipe-serves">{{ page.serves | markdownify }}</div>
    <ul>
      {%- for ingredient in page.ingredients -%}
        {%- if ingredient.first -%}
          <li>
            <strong>{{ ingredient[0] | markdownify }}</strong>
            <ul>
              {%- for ingredient2 in ingredient[1] -%}
                <li>{{ ingredient2 | markdownify }}</li>
              {%- endfor -%}
            </ul>
          </li>
        {% else %}
          <li>{{ ingredient | markdownify }}</li>
        {% endif %}
      {%- endfor -%}
    </ul>
  </div>

  <div class="recipe-directions">
    <h3>Ohjeet</h3>
    <ol>
      {%- for direction in page.directions -%}
        <li>{{ direction | markdownify }}</li>
      {%- endfor -%}
    </ol>
  </div>

  {%- if page.tip -%}
    <div class="recipe-tip">
      <h3>Vinkki!</h3>
      <p>{{ page.tip | markdownify }}</p>
    </div>
  {% endif %}

  <div>
    {{ content }}
  </div>

  {%- if page.sources -%}
    <div class="recipe-sources">
      <h3>Inspiraatiot</h3>
      <ul>
        {%- for source in page.sources -%}
          <li><a href="{{ source.url }}">{{ source.name | escape }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
  {% endif %}
</article>
