---
layout: default
---
<article class="recipe">
  <h2>{{ page.title | escape }}</h2>

  <div class="infos">
    {% if page.time %}
      <div class="info">⏳ {{ page.time | escape }}</div>
    {% endif %}
    {% if page.serves %}
      <div class="info">🍲 {{ page.serves | escape }}</div>
    {% endif %}
  </div>

  {%- if page.notice -%}
    <div class="recipe-notice">
      <h3>Huom, huom!</h3>
      <p>{{ page.notice | markdownify }}</p>
    </div>
  {% endif %}

  <div class="recipe-flex">
    <div class="ingredients">
      <h3>Ainekset</h3>

      {%- for ingredient in page.ingredients -%}
        {%- if ingredient.first -%}
          <div class="ingredient title">
            {{ ingredient[0] | markdownify | remove: '<p>' | remove: '</p>' }}
          </div>

          {%- for ingredient2 in ingredient[1] -%}
            <div class="ingredient sub">
              {{ ingredient2 | markdownify | remove: '<p>' | remove: '</p>' }}
            </div>
          {%- endfor -%}
        {% else %}
          <div class="ingredient">
            {{ ingredient | markdownify | remove: '<p>' | remove: '</p>' }}
          </div>
        {% endif %}
      {%- endfor -%}
    </div>

    <div class="directions">
      <h3>Ohjeet</h3>
      <ol>
        {%- for direction in page.directions -%}
          <li>{{ direction | markdownify | remove: '<p>' | remove: '</p>' }}</li>
        {%- endfor -%}
      </ol>
    </div>
  </div>

  {%- if page.tip -%}
    <h3>Vinkki!</h3>
    <div class="little-box">{{ page.tip | markdownify }}</div>
  {% endif %}

  {%- if page.sources -%}
    <h3>Inspiraatiot</h3>
    <div class="little-box">
      <ul>
        {%- for source in page.sources -%}
          <li><a href="{{ source.url }}">{{ source.name | escape }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
  {% endif %}
</article>
